@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
:root {
  --mainColor: #c8e6c9;
  --secondaryColor: #00c853;
  font-size: 10px;
  --enFont1:"Noto Sans", sans-serif;
  --enFont2:"Montserrat", sans-serif;
  --enFont3:"Segoe UI" ,sans-serif;
  /* font-size: calc(1vw + 1vh + .5vmin); */
}

.dark-theme {
  --mainColor: #c8e6c9;
  --secondaryColor: #00c853;
}

.light-theme {
  --mainColor: #c8e6c9;
  --secondaryColor: #00c853;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 1.4rem;
  -webkit-transition: background-color 1.25s ease-in-out;
  transition: background-color 1.25s ease-in-out;
  background-color: var(--mainColor);
  overflow-x: hidden;
}

.wrapper {
  text-align: center;
  margin: 50px auto;
}
.wrapper .clouds .cloud1 {
  position: absolute;
  top: 90px;
  left: 80px;
  width: 150px;
  height: 60px;
}
.wrapper .clouds .cloud2 {
  position: absolute;
  top: 50px;
  left: 125px;
  width: 200px;
  height: 110px;
  z-index: 15;
}
.wrapper .tabs {
  height: 50px;
  width: 80vw;
  max-width: 90rem;
  margin-top: 50px;
  background: #ececec;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  display: inline-block;
  border-radius: 2px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -ms-flex-line-pack: center;
      align-content: center;
}
.wrapper .tabs a {
  color: #202124;
  font-family: var(--enFont1);
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}
.wrapper .tabs a .active {
  color: var(--secondaryColor);
}
.wrapper .selector {
  position: absolute;
  display: inline-block;
  max-width: 100px;
  max-height: 100px;
  height: 100px;
  width: 100px;
  top: -95px;
  z-index: 10;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.78;
}
p:not([class]) {
  line-height: 1.78;
  margin-top: 1em;
  margin-bottom: 0;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-top: 0;
}

.program {
  max-width: 90rem;
  width: 80vw;
  margin: 0 auto;
}

.station {
  -webkit-margin-start: -3px;
          margin-inline-start: -3px;
}

.stations {
  border-left: 3px solid var(--secondaryColor);
  padding-top: 4px;
}
.stations .station .station__header {
  margin-bottom: 1.25rem;
  color: #f0f0f0;
  background-color: var(--secondaryColor);
  font-size: 0.75rem;
  font-weight: 400;
  padding: 0.5rem 1.5rem;
}
.stations .station .station_cards {
  display: grid;
  grid-row-gap: 1.5rem;
  overflow: hidden;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  padding-bottom: 1rem;
}
.stations .station .station_cards .station__card {
  position: relative;
  margin-left: 1rem;
  padding: 1.5rem 1.5rem 1.25rem;
  border-radius: 2px;
  border-left: 2px solidvar(--secondaryColor);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  background-color: #fff;
}
.stations .station .station_cards .station__card::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--secondaryColor);
  position: absolute;
  top: 1rem;
  left: -50%;
  z-index: -1;
}
.stations .station .station_cards .station__card[dir=rtl] {
  margin-left: 0;
  margin-right: 1rem;
  border-left: none;
  border-right: 2px solid var(--secondaryColor);
}
.stations .station .station_cards .station__card[dir=rtl]::before {
  left: 0;
  right: -50%;
}
.stations .station .station_cards .station__card header {
  padding: 0.25rem 1.25rem 0.25rem;
  background-color: #f0f0f0;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
}
.stations .station .station_cards .station__card .card__content {
  margin-top: 0.5rem;
}
.stations[dir=rtl] {
  border-left: none;
  border-right: 3px solid var(--secondaryColor);
}

.scale-up-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}
.setting {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
  list-style-type: none;
  background-color: azure;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.setting ul {
  list-style-type: none;
}
.setting::before {
  content: "\a";
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  border-color: transparent rgba(221, 67, 67, 0) azure transparent;
  position: relative;
  display: inline-block;
  left: 50%;
  top: -20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.fa {
  display: grid !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  text-align: center;
}

.active {
  border: 1px solid red;
}

.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    display: none;
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    display: none;
  }
}
.theme-light {
  --color-primary: #0060df;
  --color-secondary: #fbfbfe;
  --color-accent: #fd6f53;
  --font-color: #000000;
}

.theme-dark {
  --color-primary: #17ed90;
  --color-secondary: #2a2c2d;
  --color-accent: #12cdea;
  --font-color: #ffffff;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--color-secondary);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container h1 {
  color: var(--font-color);
  font-family: sans-serif;
}

.container button {
  color: var(--font-color);
  background: var(--color-primary);
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 0px 15px rgba(32, 32, 32, 0.2392156863);
          box-shadow: 0 0px 15px rgba(32, 32, 32, 0.2392156863);
  background: white url("https://i.ibb.co/FxzBYR9/night.png");
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196f3;
          box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  transform: translateX(24px);
  background: white url("https://i.ibb.co/7JfqXxB/sunny.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */